@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');

body {
  font-family: 'Roboto Serif', sans-serif;
  color: #fff;
}

main {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 95vh;             /* 97% of viewport's height */
  width: 100vw;
  
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 60px auto;
  grid-gap: 30px;

}

  #menu {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  button {
    display: inline-block;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 1.25rem;
    color: white;
    background-color: rgba(50, 50, 255, 0.35);
    border: inset 2.5px rgba(127,255,255,0.75);
    border-radius: 12px;
    width: 300px;
    padding: 10px;
    cursor: pointer;
  }
    button:hover, button:active {
      background-color: grey;
      border: outset;
    }
    button:active {
      color: #000000;
      background-color: rgba(0,255,255,0.75);
    }


.text{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding: 25px;
    background-color: rgba(50, 50, 255, 0.15);
    overflow: auto;
    text-indent: 50px;
  }
    h2 {
      font-size: 2rem;
      text-align: center;
    }
    p {
      font-size: 1.5rem;
      text-align: left;
    }
    #about {
      visibility: visible;
      z-index: 50;
    }
    #techstacks {
      visibility: hidden;
      z-index: 51;
    }
    #skills {
      visibility: hidden;
      z-index: 52;
      font-size: 1.5rem;
      text-align: left;
    }

.animation {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  overflow: hidden;
}

    .element {                                              /* Nodes overall */
      width: 200px;                                         /* define node wide */
      height: 200px;                                        /* define node height */
      line-height: 200px;                                   /* center symbol if line-height == height */                     
      text-align: center;
      box-shadow: 0px 0px 5px 10px rgba(200,199,255,0.75); /* box-shadow: x, y, blur, spread*/
      border: 1px solid rgba(127,255,255,0.25);
      background-color: rgba(50, 50, 255, 0.3);
      font-family: Helvetica, sans-serif;
      cursor: default;
    }
    
      .element .symbol {                                     /* center */
        position: absolute;
        top: 0px;                                            /* position of image */
        left: 0px;
        width: 100%;                                         /* scale of image */
        height: 100%;
      }
    
      .element:hover {                                         /* Nodes on hover*/
        box-shadow: 0px 0px 0px 5px rgba(200,199,255,0.75);
        border: 1px solid rgba(127,255,255,0.75);
        background-color: rgba(200, 200, 200, 0.5);
      }

a {
  color: #8ff;
  text-decoration: none;
  pointer-events: auto;
}

  a:link {
    color: #8ff;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: rgb(50, 50, 255);
  }


.bg {
  position: fixed;
  background-image: url("images/space_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.65;
  z-index: -1;
}

  /* footer section */
  #controls {
    position: fixed;
    bottom: 5px;
    left: 5px;
    text-align: left;
    font-size: 75%;
    z-index: 1000;
  }

  #footer {
    position: fixed;
    bottom: 5px;
    right: 5px;
    text-align: right;
    font-size: 75%;
    text-decoration: none;
    z-index: 1000;
  }

.details {
  display: none;
}
.number {
  display: none;
}

